 .h1 {
     font-family: 'Roboto', sans-serif;
     src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
     text-align: justify;
 }

 .intro {
     font-family: 'Lora', serif;
     src: url('https://www.1001fonts.com/lora-font.html');
     font-size: 18px;
     font-weight: bold;
 }

 .quote {
     font-family: 'Georgia', serif;
     font-style: italic;
     font-size: 20px;     
     text-decoration: underline;
}

.note {
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 2px;
}
