body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

.item{
    font-size: 50px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: background 0.3s;
    border: black 2px solid;
    transition: transform 0.1s;
}

.free {
    font-size: 50px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    transition: background 0.3s;
    border: black 2px solid;
    transition: transform 0.1s;
}

.item:hover {
    background:  dodgerblue;
    transform: scale(1.2);
    cursor: pointer;
}

.free:hover{
    background: dodgerblue;
    transform: scale(1.2);
    cursor: pointer;
}
.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 100px;
    height:  50px;
    color: green

}

.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 100px;
    height:  50px;
    color: red;
}

.title3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 100px;
    height:  50px;
    color: purple;
}

.title4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 100px;
    height:  50px;
    color: blue;
}

.title5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 100px;
    height:  50px;
    color: orangered;

}
.container {
     display: grid;
     grid-template-columns: repeat(5, 80px);
     grid-template-rows: repeat(5, 80px);
     gap: 10px;
     background-color: yellow;
     padding: 30px;
}